/* body */

body {
    height: 100%;
    margin: 0;
    background-color: #f8f9fd;
}

/* App */

.App {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Auth forms */

.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}
  
.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}
  
.Auth-form-label {
    font-size: 15px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.Auth-form-error {
    font-size: 12px;
    font-weight: 600;
}

.Auth-form-success, .Auth-form-error-main {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

/* Game */

.Game-layers-container {
    height: calc(100vh - 56px);
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
}

.Game-layers-container > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.Game-info-layer {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    background-color: rgba(67, 67, 67, 0.5);
    z-index: 200;
}

.Game-info {
    padding: 20px 40px 10px 40px;
    background-color: white;
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid black;
    font-weight: 600;
}

.Game-container {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
}

.Game-button-short {
    width: 140px;
}

.Game-button-long {
    width: 180px;
} 

.Game-board-a, .Game-board-b {
    margin: 15px;
}

.Game-board-a {
    margin-right: 30px;
}

.Game-board-b {
    margin-left: 30px;
}

.Game-board-a-outer {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    background-color: rgba(67, 67, 67);
    border: 1px solid rgba(67, 67, 67);
}

.Game-board-b-outer {
    background-color: rgba(67, 67, 67);
    border: 1px solid rgba(67, 67, 67);
    margin: 0;
    padding: 0;
}

.Game-board-a-outer > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.Game-board-a-inner-bottom {
    z-index: 5;
}

.Game-board-a-inner-top {
    z-index: 100;
}

.Game-board-title {
    font-size: 24px;
}

.Game-board-title-nickname {
    font-size: 18px;
}

.Game-board-tile-text {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: rgb(152, 247, 250);
    border: 1px solid rgba(67, 67, 67);
}

.Game-board-tile-bg-a, .Game-board-tile-bg-b {
    width: 40px;
    height: 40px;
    background-color: rgb(0, 247, 255);
    border: 1px solid rgba(67, 67, 67);
}

.Game-board-tile-bg-b:hover {
    background-color: rgb(44, 160, 163);
    cursor: pointer;
}

.Game-board-tile-bg-b-clicked-hit, .Game-board-tile-bg-b-clicked-miss {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(67, 67, 67);
}

.Game-board-tile-bg-b-clicked-hit {
    background-color: rgb(214, 83, 83);
}

.Game-board-tile-bg-b-clicked-miss {
    background-color: rgb(42, 104, 106);
}

.Game-board-tile-bg-b-clicked-hit:hover, .Game-board-tile-bg-b-clicked-miss:hover {
    cursor: not-allowed;
}

.Game-board-tile {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid transparent;
}
  
.Game-ships-container-horizontal, .Game-ships-container-vertical {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 16px;
    padding: 10px;
    margin: 20px;
    min-height: 100px;
    min-width: 100px;
    max-width: 600px;
}

.Game-ships-container-vertical {
    display: flex;
    flex-direction: row;
}

.Game-ship {
    margin: 4px;
    background-color: rgb(101, 101, 101);
    border: 2px solid rgb(45, 45, 45);
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    z-index: 200;
}

.Game-ship:hover{
    background-color: rgb(66, 66, 66);
    border: 2px solid rgb(17, 17, 17);
}

.Game-ship-set {
    margin: 4px;
    background-color: rgb(101, 101, 101);
    border: 2px solid rgb(45, 45, 45);
    border-radius: 50px;
    cursor: default;
    display: inline-block;
    z-index: 200;
}

.ship-1-horizontal {
    width: 70px;
    height: 30px;
}

.ship-1-vertical {
    width:  30px;
    height: 70px;
}

.ship-2-horizontal {
    width:  110px;
    height: 30px;
}

.ship-2-vertical {
    width:  30px;
    height: 110px;
}

.ship-3-horizontal {
    width:  150px;
    height: 30px;
}

.ship-3-vertical {
    width:  30px;
    height: 150px;
}

.ship-4-horizontal {
    width:  190px;
    height: 30px;
}

.ship-4-vertical {
    width:  30px;
    height: 190px;
}

/* Profile */

.Profile-container {
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    color: rgb(34, 34, 34);
    font-size: 15px;
}

.Profile-user-panel {
    background-color: white;
    border-radius: 8px;
    width: 30%;
    margin: 20px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
}

.Profile-user-info {
    width: 100%;
    border-bottom: 1px solid rgb(34, 34, 34);
    font-weight: 600;
}

.Profile-change-data-container, .Profile-search-container, .Profile-notification-buttons-container {
    justify-content: space-between;
}

.Profile-change-data-input, .Profile-search-input {
    width: 77%;
}

.Profile-change-data-button, .Profile-search-button {
    width: 20%;
}

.Profile-change-data-error, .Profile-change-data-success {
    font-size: 12px;
    font-weight: 600;
}

.Profile-change-data-error-main {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.Profile-tables-container {
    width: 65%;
    margin: 20px;
}

.Profile-table-container {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    max-height: 400px;
}

.Profile-table-title {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 8px 8px 0 0;
}

.Profile-table {
    overflow: auto;
}

.Profile-game-result-text {
    font-weight: 600;
}

.Profile-notification-container {
    max-height: 300px;
    overflow: auto;
}

/* Others */

th, td {
    text-align: center;
}

.notification {
    display: inline;
    font-size: 12px;
    color: white;
    padding: 2px 5px;
    border-radius: 100px;
    position: relative;
    top: -1px;
    left: 5px;
}

.text-bold {
    font-weight: 600;
}

/* Media */

@media only screen and (max-width: 977.8px) {
    .Game-container {
        flex-direction: column;
        align-items: center;
    }

    .Game-board-a, .Game-board-b {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 991.8px) {
    .Profile-container {
        align-items: center;
    }
    
    .Profile-user-panel {
        width: 95%;
    }

    .Profile-tables-container {
        width: 95%;
    }
}

/* Custom scrollbar */

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}