/* body */

body {
    background-color: #f8f9fd;
}

/* App */

.App {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Auth forms */

.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}
  
.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}
  
.Auth-form-label {
    font-size: 15px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.Auth-form-error {
    font-size: 12px;
    font-weight: 600;
}

/* Game */

.Game-container {    
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
  
.Game-board {
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: white;
    border: 2px solid black;
    padding: 20px 15px 80px 15px;
    margin: 20px;
}

.Game-boat {
    padding: 5px 10px;
    min-height: 50px;
    text-align: center;
    background-color: rgb(126, 228, 228);
    border: 2px solid rgb(41, 232, 232);
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 15px;  
}

.boat-1 {
    width: 40%;
}

.boat-2 {
    width: 60%;
}

.boat-3 {
    width: 80%;
}

.boat-4 {
    width: 100%;
}

/* Profile */

.Profile-container {
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    color: rgb(34, 34, 34);
    font-size: 15px;
}

.Profile-user-panel {
    background-color: white;
    border-radius: 8px;
    width: 30%;
    margin: 20px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
}

.Profile-user-info {
    width: 100%;
    border-bottom: 1px solid rgb(34, 34, 34);
    font-weight: 600;
}

.Profile-user-change-data {
    width: 100%;
}

.Profile-table-container {
    background-color: white;
    border-radius: 8px;
    width: 60%;
    margin: 20px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
}

/* Media */

@media only screen and (max-width: 767.8px) {
    .Game-container {
        align-items: center;
    }

    .Game-board {
        width: 90%;
    }

    .Profile-container {
        align-items: center;
    }
    
    .Profile-user-panel {
        width: 90%;
    }

    .Profile-table-container {
        width: 90%;
    }
}