<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cities</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h2>List of cities</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.userId}">Id</td>
        <td th:text="${user.username}">Username</td>
        <td th:text="${user.email}">Email</td>
    </tr>
</table>

</body>
</html>